<h1>{{ wishlist.user.username }}'s Wishlist</h1>

<ul>
{% for item in items %}
  <li>
    <strong>{{ item.name }}</strong>  
    (Priority: {{ item.priority }})<br>

    {% if item.image %}<img src="{{ item.image.url }}" width="150">{% endif %}

    {% if not item.purchased %}
      <form method="post" action="{% url 'item_purchase' wishlist.user.username item.pk %}">
        {% csrf_token %}
        <button type="submit">Mark Purchased</button>
      </form>
    {% else %}
      <em>Already purchased</em>
    {% endif %}
  </li>
{% endfor %}
</ul>
